/*  Some css modification */
body { 
	padding-top: 70px;
	padding-bottom: 45px;
}

.jumbotron {
	background-image: url("../img/jumbotron_bg_blur_crop.png");
	background-size: cover;
}

.jumbotron h1,
.jumbotron .h1,
.jumbotron p,
.jumbotron .p {
  color: #eee;
}

.progress {
    position: relative;
}

.progress span{
    display: block;
    position: absolute;
    width: 90%;
}

.sidebar {
    margin-top: 2px;
}

/*.navbar-default{*/
    /*background-color: rgba(42, 29, 16, 0.11);*/
/*}*/