/*  Some css modification */
body { 
	padding-top: 70px;
	padding-bottom: 45px;
}

.jumbotron {
	background-image: url("../img/jumbotron_bg_blur_crop.png");
	background-size: cover;
}

.jumbotron h1,
.jumbotron .h1,
.jumbotron p,
.jumbotron .p {
  color: #eee;
}

.progress {
    position: relative;
}

.progress span{
    display: block;
    position: absolute;
    width: 90%;
}

.sidebar {
    margin-top: 2px;
}

.panel-realdanger {
  border-color: #eb7675;
}
.panel-realdanger > .panel-heading {
  color: #640000;
  background-color: #ff3044;
  border-color: #eb7675;
}
.panel-realdanger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #eb7675;
}
.panel-realdanger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #eb7675;
}

/*.navbar-default{*/
    /*background-color: rgba(42, 29, 16, 0.11);*/
/*}*/