{% extends "Fifa/base.html" %}
{% load staticfiles %}

{% block script %}
    <link href="{% static 'Fifa/css/tournament.css' %}" rel="stylesheet">
{% endblock %}

{% block mobile %}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
{% endblock %}

{% block sidebar %}
    {% include 'Fifa/sidebar.html' %}
{% endblock %}

{% block content %}
    <div id="page-wrapper">

        <form method="post" action="">
            {% csrf_token %}
            <div class="row">
                <p></p>
                <legend>Torneo {{ league.name }}</legend>

                <div class="col-lg-9">
                    <div class="panel-body">
                        <div class="table-responsive table-bordered">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Jugador</th>
                                    <th class="hidden-xs hidden-sm">Equipo 1</th>
                                    <th class="hidden-xs hidden-sm">Equipo 2</th>
                                    <th class="hidden-xs hidden-sm">Equipo 3</th>
                                    <th>Equipo Seleccionado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{ form.management_form }}
                                {% for player, form in data %}
                                    <tr>
                                        <td>{{ player.player.user.first_name }}</td>
                                        <td class="hidden-xs hidden-sm">{{ player.team1 }}</td>
                                        <td class="hidden-xs hidden-sm">{{ player.team2 }}</td>
                                        <td class="hidden-xs hidden-sm">{{ player.team3 }}</td>
                                        <td>{{ form.selected_team }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-6 col-md-4 col-lg-8 control-label">Partidos por semana:</label>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                {{ form_dates.matches_per_week }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-6 col-md-4 col-lg-8 control-label">Semana de inicio:</label>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                {{ form_dates.start_week }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="panel-body">
                        <input type="submit" href="{% url 'Fifa.views.new_league' %}" class="btn btn-primary btn-lg btn-block">
                    </div>
                </div>
            </div>

        </form>
    </div>
{% endblock %}