{% extends "Fifa/base.html" %}
{% load staticfiles %}

{% block script %}
    <link href="{% static 'Fifa/css/tournament.css' %}" rel="stylesheet">
{% endblock %}

{% block sidebar %}
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                {% for league in leagues %}
                <li>
                    <a href="#"><i class="fa fa-trophy fa-fw"></i> {{ league.name }}<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="morris.html">Tabla de Posiciones</a>
                        </li>
                        <li>
                            <a href="morris.html">Partidos</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
{% endblock %}

{% block content %}

{% endblock %}