{% extends "Fifa/base.html" %}
{% load staticfiles %}

{% block script %}
    <link href="{% static 'Fifa/css/tournament.css' %}" rel="stylesheet">
{% endblock %}

{% block mobile %}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
{% endblock %}

{% block sidebar %}
    {% include 'Fifa/sidebar.html' %}
{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="panel-body col-lg-9">
            <div class="row">
                <legend>Partidos de esta semana</legend>
                {% for rival, score, result in matches_week %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="panel {{ result }}">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                                        VS {{ rival }}
                                    </div>
                                    <div class="col-xs-6 visible-xs">
                                        {{ score }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body hidden-xs">
                                <div class="row text-center">
                                    <div class="huge">
                                        {% ifequal score '' %}
                                            <i class="fa fa-spin fa-futbol-o"></i>
                                        {% else %}
                                            {{ score }}
                                        {% endifequal %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <legend>Partidos pendientes</legend>
                {% for rival in late %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="panel panel-realdanger">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                                        VS {{ rival }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body hidden-xs">
                                <div class="row text-center">
                                    <div class="huge">
                                        <i class="fa fa-spin fa-futbol-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <legend>Ultimos resultados</legend>
                {% for match in recents %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-8 col-sm-12 col-md-12 col-lg-12">
                                       {{ match.local }} VS {{ match.visit }}
                                    </div>
                                    <div class="col-xs-4 visible-xs">
                                        {{ match.local_score }} - {{ match.visit_score }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body hidden-xs">
                                <div class="row text-center">
                                    <div class="huge">
                                        {{ match.local_score }} - {{ match.visit_score }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}