{% extends "Fifa/base.html" %}
{#{% load bootstrap3 %}#}
{% load staticfiles %}

{% block script %}
    <link href="{% static 'Fifa/css/tournament.css' %}" rel="stylesheet">
    <script src="{% static 'Fifa/js/jquery.js' %}"></script>
    <script type="text/javascript">
        $(function () { $('#matchModal').on('show.bs.modal', function (event){
            var button = $(event.relatedTarget);
            var local = button.data('local');
            var visit = button.data('visit');
            var match_id = button.data('match');
            var modal = $(this);
            modal.find('#local-addon').text(local);
            modal.find('#visit-addon').text(visit);
            modal.find('#result-form').attr('action', '/fifa/match/result/' + match_id + '/?page='+'{{ fecha }}');
            modal.find('#result-form').attr('info', match_id);
        });});

        $(function () { $('#submit').click(function (){
            var url = $('#result-form').attr('action');
            var match_id = $('#result-form').attr('info');
            var td = $("#"+match_id);
            $.ajax({
                type: 'POST',
                url: url,
                data: $('#result-form').serialize(),
                success: ajax_success,
                error: ajax_error
            });
        });
        });

        function ajax_success(result){
            var lista_html = JSON.parse(JSON.stringify(result));
            $("#matches-body").empty();
            $("#matches-body").html(lista_html);
            $("input[name=local]").val("");
            $("input[name=visit]").val("");
            $('#matchModal').modal('hide');
            return false;
        }

        function ajax_error(){
            alert("El resultado no pudo ser enviado")
        }
        {#        $(function () {$('#panel').on('show.bs.collapse', function() {#}
        {#            $('#panel').find('.collapse.in').collapse('hide');#}
        {#        });});#}

    </script>

{% endblock %}

{% block mobile %}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
{% endblock %}

{% block sidebar %}
    {% include 'Fifa/sidebar.html' %}
{% endblock %}

<!-- Body -->
{% block content %}

    <div id="page-wrapper">
        <div class="panel-body">
            <legend>Torneo {{ league.name }}</legend>

            <div class="row">
                <div class="content">
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        {% if matches_page %}
                            <li><a href="#tabla" data-toggle="tab">Jugadores</a></li>
                            <li class="active"><a href="#partidos" data-toggle="tab">Partidos</a></li>
                        {% elif positions_page %}
                            <li class="active"><a href="#tabla" data-toggle="tab">Jugadores</a></li>
                            <li><a href="#partidos" data-toggle="tab">Partidos</a></li>
                        {% endif %}

                    </ul>
                </div>

                <div class="col-lg-9 tab-content">

                    <!-- Jugadores -->
                    {% if matches_page %}
                        <div id="tabla" class="tab-pane row fade collapse">
                    {% elif positions_page %}
                        <div id="tabla" class="tab-pane row fade collapse active in">
                    {% endif %}
                    <h3>Jugadores</h3>
                    <hr/>
                    <table class="table table-hover table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>PJ</th>
                            <th class="hidden-xs">PG</th>
                            <th class="hidden-xs">PE</th>
                            <th class="hidden-xs">PP</th>
                            <th class="hidden-xs">GF</th>
                            <th class="hidden-xs">GC</th>
                            <th>Dif</th>
                            <th>Puntos</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in position_table  %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ player.player }} ({{ player.team }})</td>
                                <td>{{ player.played}}</td>
                                <td class="hidden-xs">{{ player.wins}}</td>
                                <td class="hidden-xs">{{ player.draws}}</td>
                                <td class="hidden-xs">{{ player.losses}}</td>
                                <td class="hidden-xs">{{ player.forGoal}}</td>
                                <td class="hidden-xs">{{ player.againstGoal}}</td>
                                <td>{{ player.goalDifference}}</td>
                                <td>{{ player.points}}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    </div>

                    <!-- Partidos -->
                    {% if matches_page %}
                        <div id="partidos" class="tab-pane row fade collapse active in">
                    {% elif positions_page %}
                        <div id="partidos" class="tab-pane row fade collapse">
                    {% endif %}
                    <h3>Partidos Fecha {{ fecha }}</h3>
                    <hr/>
                    {% if matches %}
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-4">Local</th>
                                <th class="text-center col-md-2">Resultado</th>
                                <th class="col-md-4">Visita</th>
                            </tr>
                            </thead>
                            <tbody id="matches-body">
                            {% include 'Fifa/matches.html' %}
                            </tbody>
                        </table>
                    {% endif %}
                    <div>
                        {% include 'Fifa/pagination.html' %}
                    </div>

                    <form class="form-inline" method="get" action="{% url 'Fifa.views.edit_league' league.id %}">
                        <div class="form-group">
                            <label for="page">Ir a fecha:</label>
                            <input class="form-control" type="number" name="page" id="page" style="width: 4em;">
                        </div>
                        <button type="submit" class="btn btn-primary">Ir</button>
                    </form>

                    </div>
                    <!-- Administrar -->
                    {% if user.is_superuser %}
                        <!-- Modal -->
                        <div class="modal fade" id="matchModal" tabindex="-1" role="dialog" aria-labelledby="matchModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="matchModalLabel">Enviar resultado</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form id="result-form" method="POST" action="{% url 'set_match_result' 1 %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="local-name" class="control-label">Local:</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="local-addon"></span>
                                                    <input type="number" class="form-control" id="local-name" name="local">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="visit-name" class="control-label">Visita:</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="visit-addon"></span>
                                                    <input type="number" class="form-control" id="visit-name" name="visit">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                <button id="submit" type="button" class="btn btn-primary">Enviar</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}


                    </div>
                    </div>
                </div>
            </div>
{% endblock %}