{% extends "Fifa/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block script %}
    <link href="{% static 'Fifa/css/tournament.css' %}" rel="stylesheet">

    <script src="{% static 'Fifa/js/jquery.js' %}"></script>
    <script type="text/javascript">
        $(function () { $('#matchModal').on('show.bs.modal', function (event){
            var button = $(event.relatedTarget);
            var local = button.data('local');
            var visit = button.data('visit');
            var match_id = button.data('match');
            var modal = $(this);
            modal.find('#local-addon').text(local);
            modal.find('#visit-addon').text(visit);
            modal.find('#result-form').attr('action', '/fifa/match/result/' + match_id + '/?page='+'{{ fecha }}');
            modal.find('#result-form').attr('info', match_id);
        });});

        $(function () { $('#submit').click(function (){
            var url = $('#result-form').attr('action');
            var match_id = $('#result-form').attr('info');
            var td = $("#"+match_id);
            $.ajax({
                type: 'POST',
                url: url,
                data: $('#result-form').serialize(),
                success: ajax_success,
                error: ajax_error
            });
        });
        });

        function ajax_success(result){
            var lista_html = JSON.parse(JSON.stringify(result));
            $("#matches-body").empty();
            $("#matches-body").html(lista_html);
            $("input[name=local]").val("");
            $("input[name=visit]").val("");
            $('#matchModal').modal('hide');
            return false;
        }

        function ajax_error(){
            alert("El resultado no pudo ser enviado")
        }
        {#        $(function () {$('#panel').on('show.bs.collapse', function() {#}
        {#            $('#panel').find('.collapse.in').collapse('hide');#}
        {#        });});#}

    </script>
{% endblock %}

{% block mobile %}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
{% endblock %}

{% block sidebar %}
    {% include 'Fifa/sidebar.html' %}
{% endblock %}

<!-- Body -->
{% block content %}

    <div id="page-wrapper">
        <h2>Torneo {{ league.name }}</h2>
        <hr/>
        <div class="row">
            <div class="content">
                {#                <ul class="nav nav-pills nav-stacked">#}
                {#                    <li><a data-toggle="collapse" data-parent="panel" href="#jugadores" aria-expanded="true"  aria-controls="jugadores">Jugadores</a></li>#}
                {#                    <li><a data-toggle="collapse" data-parent="panel" href="#partidos" aria-expanded="false" aria-controls="partidos">Partidos</a></li>#}
                {#                    {% if user.is_superuser %}#}
                {#                        <li><a data-toggle="collapse" data-parent="panel" href="#administrar" aria-expanded="false" aria-controls="administrar">Administrar</a></li>#}
                {#                    {% endif %}#}
                {#                </ul>#}
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#partidos" data-toggle="tab">Partidos</a></li>
                    <li><a href="#jugadores" data-toggle="tab">Jugadores</a></li>
                    <li><a href="#administrar" data-toggle="tab">Administrar</a></li>
                </ul>
            </div>

            <div class="col-md-10 tab-content">
                <div class="panel-body">
                    <!-- Partidos -->
                    <div id="partidos" class="tab-pane active row collapse in">
                        <h3>Partidos Fecha {{ fecha }}</h3>
                        <hr/>
                        {% if matches %}
                            <table class="table table-hover table-striped table-condensed">
                                <thead>
                                <tr>
                                    <th class="col-md-4">Local</th>
                                    <th class="text-center col-md-2">Resultado</th>
                                    <th class="col-md-4">Visita</th>
                                </tr>
                                </thead>
                                <tbody id="matches-body">
                                {% include 'Fifa/matches.html' %}
                                </tbody>
                            </table>
                        {% endif %}
                        <div>
                            {% include 'Fifa/pagination.html' %}
                        </div>

                        <form class="form-inline hidden-xs" method="get" action="{% url 'Fifa.views.edit_league' league.id %}">
                            <label  for="page">Ir a fecha:</label>
                            <input class="form-control" type="number"name="page" style="width: 4em;">
                            <button type="submit" class="btn btn-primary">Ir</button>
                        </form>


                    </div>

                    <!-- Jugadores -->
                    <div id="jugadores" class="tab-pane row collapse">
                        <h3>Jugadores</h3>
                        <hr/>
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Team</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for player in players  %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ player.player.user.first_name }}</td>
                                    <td>{{ player.team}}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        {% if league.registration %}
                            <a class="btn btn-default" href="{% url 'new_player' league.id %}">Agregar Jugador</a>
                        {% endif %}
                    </div>

                    <!-- Administrar -->
                    {% if user.is_superuser %}
                        <div id="administrar" class="tab-pane row collapse">
                            <h3>Administrar</h3>
                            <hr/>
                            <div class="btn-group btn-group-lg">
                                {% if league.playing %}
                                    <a class="btn btn-default"
                                       href="{% url 'Fifa.views.end_league' league.id %}">
                                        Cerrar Torneo
                                    </a>
                                {% else %}
                                    <a class="btn btn-default disabled"
                                       href="{% url 'Fifa.views.end_league' league.id %}">
                                        Cerrar Torneo
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="matchModal" tabindex="-1" role="dialog" aria-labelledby="matchModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="matchModalLabel">Enviar resultado</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form id="result-form" method="POST" action="{% url 'set_match_result' 1 %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="local-name" class="control-label">Local:</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="local-addon"></span>
                                                    <input type="number" class="form-control" id="local-name" name="local">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="visit-name" class="control-label">Visita:</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="visit-addon"></span>
                                                    <input type="number" class="form-control" id="visit-name" name="visit">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                <button id="submit" type="button" class="btn btn-primary">Enviar</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}