{% extends "Fifa/base2.html" %}

{% block title %}Torneos DCC{% endblock %}

{% block content %}
    <div class="content">
        <div class="col-md-offset-4 col-md-4">
            <p>
                Tu contraseña ha sido modificada.
            </p>
            <p>
                Ingresa a <a href="{% url 'Fifa.views.login_view' %}">Torneos DCC</a> con tu nueva contraseña.
            </p>
            <p>
                <a href="{% url 'Fifa.views.login_view' %}" class="btn btn-primary">Iniciar sesión</a>
            </p>
        </div>
    </div>
{% endblock %}