{% extends "Fifa/base2.html" %}

{% block title %}Torneos DCC{% endblock %}

{% block content %}
    <div class="content">
        <div class="col-md-offset-4 col-md-4">
            <p>
                Te hemos enviado un correo con las instrucciones para resetear tu contraseña. Lo recibirás en breve.
            </p>
            <p>
                Si no recibes el correo, asegurate que ingresaste la dirección con la cual te registraste en Torneos DCC y revisa tu carpeta de spam.
            </p>
        </div>
    </div>
{% endblock %}