{% extends "Fifa/base2.html" %}

<!-- Header -->
{% block title %} Torneos DCC {% endblock %}
{% block content %}
    <div class="content">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <h2>Página no encontrada</h2>
            <p>La página que buscabas no pudo ser encontrada, pero si encontramos un gatito.</p>
            <img src="http://thecatapi.com/api/images/get?format=src&type=png&size=med&category=10" alt="kitten" class="img-rounded">
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}