{% extends "base.html" %}
<!-- Header -->
{% block title %} Torneos DCC {% endblock %}
{% block head %}
    <script>
        // only one panel is visible at same time
        $(function () {$('#panel').on('show.bs.collapse', function() {
            $('#panel').find('.collapse.in').collapse('hide');
        });});
        // set the active class for li tags
        $(function () {$('.actived').click(function (){
            $('.actived').removeClass('active');
            $(this).attr('class', 'actived active');
        });});
    </script>
{% endblock %}
<!-- Body -->
{% block navbar %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'leagues' %}"><i class="fa fa-futbol-o"></i> Torneos</a></li>
        {% if user.is_authenticated %}
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.username }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Sign In</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <!-- Jumbotron -->
    <div class="container">
        <div class="jumbotron">
            <h1>Torneos Dcc</h1>
            <p>Pagina oficial de torneos del Dcc</p>
            <p>
                <a class="btn btn-primary btn-lg">Inscribete</a>
            </p>
        </div>
    </div>

    <div class="container">

        <!-- Menu lateral -->
        <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
                {% for league in leagues %}
                    {% if forloop.first %}
                        <li class="actived active" role="presentation"><a data-toggle="collapse" data-parent="panel" href="#{{ league.name }}"
                                                                          aria-expanded="true"  aria-controls="{{ league.name }}">{{ league.name }}</a></li>
                    {% else %}
                        <li class="actived" role="presentation"><a data-toggle="collapse" data-parent="panel" href="#{{ league.name }}"
                                                                   aria-expanded="false"  aria-controls="{{ league.name }}">{{ league.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <!-- Contenido de los torneos -->
        <div class="col-md-8" id="panel">
            {% for table in tables %}
                {% if forloop.first  %}
                    <div id="{{ table.0.league.name }}" class="row collapse in">
                {% else %}
                    <div id="{{ table.0.league.name }}" class="row collapse">
                {% endif %}
            <h2 class="sub-header">Torneo {{ table.0.league.name }}</h2>
            <hr>

            <!-- Tabla de Posiciones -->
            <h3 class="sub-header">Tabla de Posiciones</h3>
            <div id="table-{{ table.0.league.id }}">
                <table class="table table-hover table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Played</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Draws</th>
                        <th>F/A</th>
                        <th>Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for position in table  %}
                        <tr>
                            <td><b>{{ forloop.counter }}</b></td>
                            <td>{{ position.player }}</td>
                            <td>{{ position.played }}</td>
                            <td>{{ position.wins }}</td>
                            <td>{{ position.losses }}</td>
                            <td>{{ position.draws }}</td>
                            <td>{{ position.forGoal }}/{{ position.againstGoal }}</td>
                            <td>{{ position.points }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>

                <!-- boton de detalles -->
                <a class="btn btn-default" href="{% url 'league_details' table.0.league.id %}">Detalles</a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

