{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Torneos DCC{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <form id="" method="POST" action="{% url 'new_player' league.id %}" >
                {% csrf_token %}
                <legend>Nuevo Jugador ( Torneo {{ league.name }} )</legend>
                {% bootstrap_form form %}
                {% buttons %}
                    <button class="btn btn-default" type="submit">Enviar</button>
                {% endbuttons %}
            </form>

        </div>
        <div class="col-md-2"></div>

    </div>
{% endblock %}